<section class="wrapper style1 align-center">
    <div class="inner medium">
        <h2>Contribute a Story</h2>
        <p>If you'd like to contribute to this site, head on over to <a target="_blank" href="https://github.com/rseng/stories-we-tell-ourselves/">rseng/stories-we-tell-ourselves</a> on GitHub and open an issue or create a pull request! You might have a new story to add, an additional point of insight, or some other change to the site. We look forward to hearing from you!
    </div>
</section>
